/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $Box
\*------------------------------------*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $REST
\*------------------------------------*/
body {
  font-size: 6px;
  background-color: #31bde4;
  overflow: hidden; }

span.iphone {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50em;
  width: 24em;
  margin-left: -12em;
  margin-top: -25em;
  background-size: 24em 50em;
  background-image: url("http://beta.rss-ems.com/download/iphone.png");
  background-repeat: no-repeat; }

ul.boxes li {
  width: 10em;
  height: 10em;
  display: inline-block;
  border-radius: 0.5em;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -35em;
  -webkit-animation: littleBoxes 3s infinite;
  -webkit-box-shadow: -1px 1px 0 1px rgba(0, 0, 0, 0.1); }

ul li:nth-child(4n+1) {
  background: nth(#fc6956, #8f7cd2, #ffee37, #00e2a8, 1);
  -webkit-animation-delay: 0.75s; }

ul li:nth-child(4n+2) {
  background: nth(#fc6956, #8f7cd2, #ffee37, #00e2a8, 2);
  -webkit-animation-delay: 1.5s; }

ul li:nth-child(4n+3) {
  background: nth(#fc6956, #8f7cd2, #ffee37, #00e2a8, 3);
  -webkit-animation-delay: 2.25s; }

ul li:nth-child(4n+4) {
  background: nth(#fc6956, #8f7cd2, #ffee37, #00e2a8, 4);
  -webkit-animation-delay: 3s; }

/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/
@-webkit-keyframes littleBoxes {
  25% {
    width: 10em;
    height: 10em;
    top: 50%;
    left: 50%;
    margin: -5em 0 0 -35em;
    -webkit-transform: rotate(-90deg);
    border-radius: 0.5em; }

  50% {
    -webkit-transform: rotate(-180deg);
    top: 50%;
    left: 50%;
    width: 20em;
    height: 35em;
    margin: -17.5em 0 0 -10em;
    border-radius: 0em; }

  75% {
    width: 10em;
    height: 10em;
    top: 50%;
    left: 50%;
    margin: -5em 0 0 25em;
    -webkit-transform: rotate(-270deg);
    border-radius: 0.5em; }

  100% {
    top: 100%;
    left: 50%;
    margin-left: 25em; } }
